:root {
    --bordas: #d4d4d4;
    --principal: #0059b3;
    --textos: #5d5d5d;
    --titulos: #aaa;
    --hover: rgba(0,0,0,.2);
    --transparente: rgba(255,255,255,.6);
    --erro: #c0392b;
    --feedback: #323232;
    --highlight: #1a1a1a;
    --alerta: #f1c40f;
    --resolvido: #13ba5a;

	--principalHover: #014487;
	--principalLight: rgba(52,152,219,.15);
	--placeholders: #999;
  }

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
    font-family: Trebuchet MS;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow: hidden;
}

#load ::after, #load ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
  
#load {
    left: 0;
    top: 0;
    width: inherit;
    min-width: 200px;
    height: 100%;
    position: absolute;
    opacity: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 998;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
  
#load img {
    width: 200px;
    margin: auto;
    margin-bottom: 20px;
}

#login {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: 0;
  }

#login img {
    width: 200px;
    margin-bottom: 30px;
  }

#usuario {
    text-transform: lowercase;
    margin-top: 2px;
}
  
#senha {
    margin-top: -2px;
}
  
.group {
    position: relative;
    margin-bottom: 30px;
    width: 250px;
}
  
.inpt {
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 235px;
    border: none;
    border-bottom: 1px solid var(--bordas);
}
  
.inpt:focus {
    outline: none;
}
  
.inpt:focus ~ .bar:before, .inpt:focus ~ .bar:after {
    width: 50%;
}
  
.inpt:focus ~ .lbl, .inpt:valid ~ .lbl {
    top: -20px;
    font-size: 15px;
    color: var(--principal);
}
  
.inpt:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}
  
.highlight {
      position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
  
.bar {
      position: relative;
    display: block;
    width: 250px;
}
  
.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: var(--principal);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
  
.bar:before {
    left: 50%;
}
  
.bar:after {
    right: 50%;
}
  
.lbl {
    color: var(--placeholders);
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
  
#login button {
    width: 250px;
    height: 35px;
    background-color: var(--principal);
    border: 0px;
    color: white;
    margin: auto;
    border-radius: 2px;
    box-shadow:	0 1px 2px 0 rgba(60,64,67,0.3), 0 1px 3px 0 rgba(60,64,67,0.15);
    cursor: pointer;
    outline: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
  
#login button:hover {
    background-color: var(--principalHover);
 }

#header {
    color: white;
    background-color: var(--principal);
    font-size: 18px;
    display: flex;
    position: relative;
}

.header-text {
    padding: 14px;
    width: 100%;
    line-height: 28px;
}

.header-menu {
    text-align: center;
    padding: 14px;
}

.header-menu i {
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    padding: 5px;
    line-height: 20px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.header-menu:hover {
    background-color: var(--hover);
}

.header-menu-content {
    display: none;
    opacity: 0;
    flex-direction: column;
    position: absolute;
    right: 0px;
    bottom: -100px;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.header-menu-content button {
    width: 200px;
    border: none;
    border-bottom: solid 1px var(--hover);
    outline: none;
    background-color: white;
    color: var(--textos);
    padding: 8px 12px;
    line-height: 30px;
    font-size: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.header-menu-content button:hover {
    background-color: var(--hover);
}

#listagem {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 42px);
}

.atendimento {
    padding: 4px;
    color: var(--textos);
    margin: 12px 12px 0px 12px;
    padding-bottom: 12px;
    border-bottom: solid 1px var(--bordas);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.atendimento-titulo {
    display: flex;
    font-size: 18px;
    color: var(--principal);
}

.cliente {
    width: 100%;
}

.atendimento-dados {
    display: flex;
    padding: 2px 0px;
    line-height: 12px;
    font-size: 12px;
}

.atendimento-dados i {
    padding-right: 6px;
    color: var(--feedback);
}

.atendimento-motivo {
    padding-top: 2px;
}

#error {
    background-color: var(--erro);
    color: white;
    font-size: 14px;
    width: calc(100% - 44px);
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
    padding: 22px;
    z-index: 1000;
    position: absolute;
    bottom: -150px;
    text-align: center;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

#messages {
    background-color: var(--feedback);
    color: white;
    font-size: 14px;
    width: calc(100% - 44px);
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
    padding: 22px;
    z-index: 1000;
    position: absolute;
    bottom: -150px;
    text-align: center;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

#atendimentoExpandido {
    z-index: 999;
    background-color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.expandido-header {
    width: 100%;
    height: 30%;
    background-color: var(--principal);
    font-size: 18px;
    color: white;
    position: relative;
    margin-bottom: 8px;
}

.expandido-header i {
    position: absolute;
    top: 8px;
    padding: 5px;
    min-width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.salvar {
    right: 36px;
    
}

.fechar {
    right: 8px;
}

.expandido-header i:hover {

    background-color: var(--hover);
}

.expandido-header #cliente {
    bottom: 28px;
    position: absolute;
    left: 16px;
    font-size: 22px;
}

.expandido-header #chave {
    position: absolute;
    left: 16px;
    bottom: 14px;
    font-size: 12px;
    color: var(--transparente);
}

.expandido-detalhes {
    width: 100%;
    height: 70%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.expandido-detalhes section {
    width: calc(100% - 32px);
    margin: 8px 8px 0px 8px;
    padding: 0px 8px 8px 8px;
    border-bottom: solid 1px var(--bordas);
    color: var(--textos);
    font-size: 14px;
    display: flex;
}

.expandido-detalhes section i {
    margin-right: 12px;
    font-size: 18px;
    width: 20px;
    height: 20px;
    padding: 5px;
    color: var(--feedback);
}

.expandido-detalhes section a {
    text-decoration: none;
    color: var(--textos);
}

.expandido-detalhes section a:visited {
    color: var(--textos);
}

.spacer {
    line-height: 30px;
}

.motivos {
    overflow: hidden;
    overflow-y: auto;
    display: block !important;
    border-bottom: none !important;
    margin-bottom: 8px;
}

.motivo {
    padding-bottom: 8px;
    position: relative;
}

.motivo input[type="checkbox"] {
    display: none;
}

.motivo label {
    color: var(--textos);
}

.motivo label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 18px;
    height: 18px;
    transition: all 0.25s ease;
    border-radius: 3px;
    border: 2px solid var(--principal);
}

.motivo label:after {
    content: '';
    display: block;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid var(--principal);
    border-left: 2px solid var(--principal);
    -webkit-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    transition: all ease 0.25s;
    position: absolute;
    top: 10px;
    left: 9px;
}

.motivo input[type="checkbox"]:checked ~ label::after {
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

.motivo label {
    min-height: 28px;
    display: block;
    padding-left: 40px;
    cursor: pointer;
    line-height: 28px;
}

.motivo input[type="checkbox"]:focus + label::before {
    outline: 0;
}
