:root {
    --bordas: #d4d4d4;
    --principal: #0059b3;
    --textos: #5d5d5d;
    --titulos: #aaa;
    --hover: rgba(0,0,0,.2);
    --transparente: rgba(255,255,255,.6);
    --erro: #c0392b;
    --erroHover: #9b3529;
    --feedback: #323232;
    --highlight: #1a1a1a;
    --alerta: #f1c40f;
    --resolvido: #13ba5a;
	--principalHover: #014487;
	--principalLight: rgba(52,152,219,.15);
    --placeholders: #999;
    --dots: #ccc;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
    text-decoration: none;
}

html, body {
    font-family: Trebuchet MS;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow: hidden;
}

#versao {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 2px;
    font-size: 12px;
    color: var(--dots);
}

.load ::after, .load ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
  
.load {
    left: 0;
    top: 0;
    width: inherit;
    min-width: 200px;
    height: 100%;
    position: absolute;
    opacity: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 998;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
  
.load img {
    width: 200px;
    margin: auto;
    margin-bottom: 20px;
}

.limpo {
    width: 100%;
    min-height: 80vh;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.limpo i {
    font-size: 100px;
    margin-bottom: 20px;
    color: var(--textos);
}

.limpo div {
    color: var(--textos);
}

.updating {
    font-size: 14px;
    color: var(--textos);
    margin-bottom: 8px;
}

#login {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: 0;
  }

#login img {
    width: 200px;
    margin-bottom: 30px;
}

#usuario {
    text-transform: lowercase;
    margin-top: 2px;
}
  
#senha {
    margin-top: -2px;
}
  
.group {
    position: relative;
    margin-bottom: 30px;
    width: 250px;
}
  
.inpt {
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 235px;
    border: none;
    border-bottom: 1px solid var(--bordas);
}
  
.inpt:focus {
    outline: none;
}
  
.inpt:focus ~ .bar:before, .inpt:focus ~ .bar:after {
    width: 50%;
}
  
.inpt:focus ~ .lbl, .inpt:valid ~ .lbl {
    top: -20px;
    font-size: 15px;
    color: var(--principal);
}
  
.inpt:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}
  
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
  
.bar {
    position: relative;
    display: block;
    width: 250px;
}
  
.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: var(--principal);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
  
.bar:before {
    left: 50%;
}
  
.bar:after {
    right: 50%;
}
  
.lbl {
    color: var(--placeholders);
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
  
#login button {
    width: 250px;
    height: 35px;
    background-color: var(--principal);
    border: 0px;
    color: white;
    margin: auto;
    border-radius: 2px;
    box-shadow:	0 1px 2px 0 rgba(60,64,67,0.3), 0 1px 3px 0 rgba(60,64,67,0.15);
    cursor: pointer;
    outline: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
  
#login button:hover {
    background-color: var(--principalHover);
 }

#header {
    color: white;
    background-color: var(--principal);
    font-size: 18px;
    display: flex;
    position: relative;
}

.header-text {
    padding: 14px;
    width: 100%;
    line-height: 28px;
}

.header-menu {
    text-align: center;
    padding: 14px;
}

.header-menu i {
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    padding: 5px;
    line-height: 20px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.header-menu:hover {
    background-color: var(--hover);
}

.header-menu-content {
    display: none;
    opacity: 0;
    flex-direction: column;
    position: absolute;
    right: 0px;
    bottom: -99px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.header-menu-content button {
    width: 200px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: white;
    color: var(--textos);
    padding: 8px 12px;
    line-height: 30px;
    font-size: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.header-menu-content button:nth-of-type(1) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: solid 1px var(--hover);
}

.header-menu-content button:hover {
    background-color: var(--hover);
}

#fab {
    z-index: 90;
    width: 50px;
    height: 50px;
    line-height: 45px;
    border-radius: 25px;
    background-color: var(--principal);
    color: white;
    font-size: 14px;
    text-align: center;
    position: fixed;
    bottom: 8px;
    right: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

#fab i {
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

#fab-buttons {
    z-index: 91;
    display: none;
    flex-direction: column;
    position: fixed;
    bottom: 8px;
    right: 8px;
    width: 300px;
    border-radius: 5px;
}

#fab-buttons button {
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    height: 50px;
    background-color: var(--principal);
    color: white;
    border: none;
    outline: none;
}

#listagem {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 42px);
}

.atendimento {
    padding: 4px;
    color: var(--textos);
    margin: 12px 12px 0px 12px;
    padding-bottom: 12px;
    border-bottom: solid 1px var(--bordas);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.atendimento-titulo {
    display: flex;
    font-size: 18px;
    color: var(--principal);
}

.cliente {
    width: 100%;
}

.atendimento-dados {
    display: flex;
    padding: 2px 0px;
    line-height: 12px;
    font-size: 12px;
}

.atendimento-dados i {
    padding-right: 6px;
    color: var(--feedback);
}

.atendimento-motivo {
    padding-top: 2px;
}

#error {
    background-color: var(--erro);
    color: white;
    font-size: 14px;
    width: calc(100% - 44px);
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
    padding: 18px 22px;
    z-index: 1000;
    position: absolute;
    bottom: -150px;
    text-align: center;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

#messages {
    background-color: var(--feedback);
    color: white;
    font-size: 14px;
    width: calc(100% - 44px);
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
    padding: 18px 22px;
    z-index: 1000;
    position: absolute;
    bottom: -150px;
    text-align: center;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

#atendimentoExpandido {
    z-index: 999;
    background-color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.expandido-header {
    width: 100%;
    height: 30%;
    background-color: var(--principal);
    font-size: 18px;
    color: white;
    position: relative;
    margin-bottom: 8px;
}

.expandido-header i {
    position: absolute;
    top: 10px;
    padding: 5px;
    min-width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.salvar {
    right: 45px;
}

.fechar {
    right: 10px;
}

.expandido-header i:hover {
    background-color: var(--hover);
}

.expandido-header #cliente {
    bottom: 28px;
    position: absolute;
    left: 16px;
    font-size: 22px;
}

.expandido-header #chave {
    position: absolute;
    left: 16px;
    bottom: 14px;
    font-size: 12px;
    color: var(--transparente);
}

.expandido-detalhes {
    width: 100%;
    height: 70%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.expandido-detalhes section {
    width: calc(100% - 32px);
    margin: 8px 8px 0px 8px;
    padding: 0px 8px 8px 8px;
    border-bottom: solid 1px var(--bordas);
    color: var(--textos);
    font-size: 14px;
    display: flex;
}

.expandido-detalhes section i {
    margin-right: 12px;
    font-size: 18px;
    width: 20px;
    height: 20px;
    padding: 5px;
    color: var(--feedback);
}

.expandido-detalhes section a {
    text-decoration: none;
    color: var(--textos);
}

.expandido-detalhes section a:visited {
    color: var(--textos);
}

.spacer {
    line-height: 30px;
}

.motivos {
    overflow: hidden;
    overflow-y: auto;
    display: block !important;
    border-bottom: none !important;
    margin-bottom: 8px;
}

.motivo {
    padding-bottom: 8px;
    position: relative;
}

.motivo input[type="checkbox"] {
    display: none;
}

.motivo label {
    color: var(--textos);
}

.motivo label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 18px;
    height: 18px;
    transition: all 0.25s ease;
    border-radius: 3px;
    border: 2px solid var(--principal);
}

.motivo label:after {
    content: '';
    display: block;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid var(--principal);
    border-left: 2px solid var(--principal);
    -webkit-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    transition: all ease 0.25s;
    position: absolute;
    top: 10px;
    left: 9px;
}

.motivo input[type="checkbox"]:checked ~ label::after {
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

.motivo label {
    min-height: 28px;
    display: block;
    padding-left: 40px;
    cursor: pointer;
    line-height: 28px;
}

.motivo input[type="checkbox"]:focus + label::before {
    outline: 0;
}

#novoAtendimento {
    z-index: 999;
    background-color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
  
#novoAtendimento select {
    border: none;
    border-bottom: solid 1px var(--bordas);
    outline: none;
    width: 100%;
    font-weight: 600 !important;
    color: var(--textos);
    font-size: 14px;
    height: 30px;
}
  
#novoAtendimento select:disabled {
    cursor: default !important;
}
  
#novoAtendimento select option {
    text-align-last: center;
}
  
#novoAtendimento section {
    width: 100%;
    display: flex;
}
  
/*
#novoAtendimento section:nth-of-type(4) {
    padding-top: 8px;
    width: 100%;
    display: flex;
}
*/
  
.atendimentoCliente {
    width: 100%;
    margin: 0px 8px;
    margin-bottom: 6px;
    position: relative;
    display: flex;
}

.atgroup {
    width: 100%;
    position: relative;
    margin-top: 22px;
}

.atinpt {
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: calc(100% - 15px);
    border: none;
    border-bottom: 1px solid var(--bordas);
}
  
.atinpt:focus {
    outline: none;
}
  
.atinpt:focus ~ .atbar:before, .atinpt:focus ~ .atbar:after {
    width: 50%;
}
  
.atinpt:focus ~ .atlbl, .atinpt:valid ~ .atlbl {
    top: -20px;
    font-size: 15px;
    color: var(--principal);
}
  
.atinpt:focus ~ .athighlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}
  
.athighlight {
    position: absolute;
    height: 60%;
    width: 100%;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
  
.atbar {
    position: relative;
    display: block;
    width: 100%;
}
  
.atbar:before, .atbar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: var(--principal);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
  
.atbar:before {
    left: 50%;
}
  
.atbar:after {
    right: 50%;
}
  
.atlbl {
    color: var(--placeholders);
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.atendimentoCliente i {
    opacity: 0;
    min-width: 0px;
    max-width: 0px;
    max-height: 0px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    padding: 0px;
    border-radius: 50%;
    margin-right: 0px;
    margin-top: 26px;
    line-height: 20px !important;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
  
.atendimentoCliente i:hover {
    background-color: var(--hover);
}
  
#dados {
    padding: 0px 8px;
    font-size: 12px;
    color: var(--titulos);
    flex-direction: column;
    margin-top: 0px;
    width: calc(100% - 16px);
    opacity: 0;
    height: 0px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

#dados a {
    color: var(--titulos);
}
  
#dados div {
    padding: 1px 0px 2px 0px;
}

#novoAtendimento #titulo {
    color: white;
    background-color: var(--principal);
    font-size: 18px;
    display: flex;
    position: relative;
    margin-bottom: 8px;
    padding: 0px;
}
  
#novoAtendimento #nome {
    padding: 14px;
    width: 100%;
    line-height: 28px;
}
  
#novoAtendimento .salvar, #novoAtendimento .fechar {
    position: absolute;
    top: 10px;
    padding: 5px;
    min-width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
  
#novoAtendimento i:hover {
    background-color: var(--hover);
}

.atendimentoSelect {
    padding: 8px;
}
  
.atendimentoSelect div {
    color: var(--textos);
    height: 30px;
    width: 100%;
}
  
.atendimentoSelect:nth-of-type(1) {
    width: 100%;
}
  
.atendimentoSelect:nth-of-type(2) {
    min-width: 100px;
}
  
#mtmotivos {
    padding-top: 32px;
    height: 548px;
    max-height: 548px;
    position: relative;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.mtgroup {
    width: 100%;
    position: relative;
    margin-top: 22px;
}

.mtinpt {
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: calc(100% - 15px);
    border: none;
    border-bottom: 1px solid var(--bordas);
}
  
.mtinpt:focus {
    outline: none;
}
  
.mtinpt:focus ~ .mtbar:before, .mtinpt:focus ~ .mtbar:after {
    width: 50%;
}
  
.mtinpt:focus ~ .mtlbl, .mtinpt:valid ~ .mtlbl {
    top: -20px;
    font-size: 15px;
    color: var(--principal);
}
  
.mtinpt:focus ~ .mthighlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}
  
.mthighlight {
    position: absolute;
    height: 60%;
    width: 100%;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
  
.mtbar {
    position: relative;
    display: block;
    width: 100%;
}
  
.mtbar:before, .mtbar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: var(--principal);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
  
.mtbar:before {
    left: 50%;
}
  
.mtbar:after {
    right: 50%;
}
  
.mtlbl {
    color: var(--placeholders);
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
  
#mtmotivos .mtlabel {
    color: var(--principal);
    font-size: 14px;
    position: absolute;
    top: 12px;
    left: 8px;
}
  
.mtmotivos-dots {
    height: 100%;
    width: 1px;
    border-right: dashed 2px var(--dots);
    margin-left: 8px;
}
  
.mtmotivos {
    margin-top: 32px;
    padding-top: 1px;
    width: calc(100% - 21px);
}
  
.mtmotivo-list {
    width: 100%;
    overflow: hidden;
    max-height: 548px;
    overflow-y: auto;
    height: 548px;
}
  
.mtmotivo-list::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
    background: rgba(0,0,0,0);
    padding-right: 2px;
}
  
.mtmotivo-list::-webkit-scrollbar-thumb {
    background: var(--menuScroll);
}
  
.mtmotivo-list i {
    color: var(--textos);
    cursor: pointer;
    min-width: 20px;
    max-height: 20px;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    border-radius: 50%;
    margin-left: 8px;
    line-height: 20px !important;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
  
.mtmotivo-list i:hover {
    background-color: var(--hover);
}
  
.mtmotivo {
    width: calc(100% - 2px); 
    margin-bottom: 6px;
    margin-left: 2px;
    display: flex;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
  
.mtmotivo-dots {
    min-width: 12px;
    max-width: 12px;
    margin: 50px 0px auto 0px;
    height: 1px;
    border-bottom: dashed 2px var(--dots);
}
  
.mtadd {
    margin: 14px 0px auto 0px;
}
  
.mtquantidade {
    width: 0px;
    margin-left: 0px;
    margin-right: 0px;
    opacity: 0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
  
.autocomplete {
    height: auto;
    max-height: 250px;
    z-index: 997;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    top: 38px;
    width: 100%;
    background-color: white;
}
  
.autocomplete div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: calc(100% - 20px);
    color: var(--textos);
    margin: 0px 10px;
    padding: 10px 0px;
    cursor: pointer;
    background-color: white;
    border-bottom: 1px solid var(--bordas);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
  
.autocomplete div:hover {
    background-color: var(--hover);
}
  
.autocomplete-active {
    background-color: var(--principal) !important;
    color: #fff;
}
  
.autocomplete::-webkit-scrollbar {
    width: 12px;
    border-radius: 6px;
    background: white;
}
  
.autocomplete::-webkit-scrollbar-thumb {
    background: #aaa;
}

#editarCliente {
    overflow: hidden;
    overflow-y: auto;
    opacity: 0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.endnumero {
    max-width: 75px;
}

.simpleInput {
    font-size: 14px;
    color: var(--textos);
    width: 100%;
    font-weight: 400;
    font-family: "Trebuchet MS";
    text-align: center;
    margin: -8px 0px 0px 0px;
    border: 0px;
    border-bottom: solid 1px var(--bordas);
    padding-bottom: 4px;
    outline: none;
    cursor: text !important;
  }
  
  .simpleInput::placeholder {
    color: var(--titulos);
  }

.horarios {
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    height: 0px;
    opacity: 0;
    display: none;
  }
  
  .horario {
    display: flex;
    height: fit-content;
    padding-top: 8px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  .horario span {
    padding: 0px 4px 0px 4px;
  }
  
  .hora {
    max-width: 100px;
  }

  .horaatendimento {
      display: block !important;
  }